@charset "UTF-8";

body{
    background-color:rgb(238, 224, 163);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    color: darkblue;
    background-color: rgb(219, 132, 105);
}

h2{
    color: darkred;
}

p{
    text-align: justify;
}
